{% extends "kakeibo/base.html" %} {% block content %}
<style>
    .errorlist {
        padding: 10px;
        background-color: #dc3545;
        color: white;
        border-radius: 10px;
    }
    .errorlist li:before {
        content: "⚠";
        margin: 3px;
    }
</style>
<form action="" method="POST">
    {{ form.non_field_errors }} {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}"> {{ field.label_tag }}</label>

        {{ field }} {{ field.errors }}
    </div>
    {% endfor %} {% csrf_token %}
    <button type="submit" class="btn btn-success btn-lg">送信</button>
</form>
{% endblock %}
