{% extends 'kakeibo/base.html' %} {% block content %}
{% if user.is_authenticated %}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>日付</th>
                <th>カテゴリ</th>
                <th>金額</th>
                <th>メモ</th>
            </tr>
        </thead>
        <tbody id="bod">
            {% for kane in kakeibos %}
            <tr id="table">
                <td>{{ kane.id }}</td>
                <td>{{ kane.date }}</td>
                <td>{{ kane.category }}</td>
                <td>{{ kane.money }}</td>
                <td>{{ kane.memo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div>
    <h1>Welcome to <span class="fw-bold">"KAKEVO"</span></h1>
    <p>
        あなたの家計簿を作ることが出来るアプリです。まずはサインアップしてツールを使えるように準備を行いましょう！
    </p>
    <button
        href="{% url 'accounts:user_create' %}"
        class="btn btn-primary btn-lg"
    >
        サインアップ
    </button>
</div>
{% endif %} {% endblock %}
</div>
